<!--
Copyright (c) Aalto  - All Rights Reserved
Created on: 2/8/19
    Author: Vladimir Petrik <vladimir.petrik@aalto.fi>
   Details:
-->

<launch>

    <group ns="lumi_mujoco">
        <rosparam command="load" file="$(find panda_controllers)/config/controllers.yaml"/>
    </group>

    <include file="$(find lumi_mujoco)/launch/simulation.launch">
        <arg name="model" value="$(find panda_controllers)/model/robots/sim.urdf"/>
        <!-- <arg name="model" value="$(find exercise5)/model/robots/robot_table_env.urdf"/> -->
        <arg name="mujoco_model" value="$(find panda_controllers)/model/robots/robot_table_env_motor_actuator.xml"/>

        <arg name="compensate_bias" value="false"/>
        <arg name="inverse_dynamics" value="false"/>
        <arg name="bias_error" value="0"/>
        <arg name="look_at_x" value="0.01"/>
        <arg name="look_at_y" value="0"/>
        <arg name="look_at_z" value="0"/>
    </include>

</launch>
